.page.theme_dark {
	/* сохраните этот селектор в приведённом виде.
	   Так стили написанные ниже будут иметь больший вес,
	   чем стили в медиазапросе предпочтений пользователя
	*/
	--background-color: rgb(0,0,40);
	--accent-color: rgb(255,0,112);
	--text-color: rgb(241,178,206);
	--title-color: rgb(219, 0, 255);
	--background-image: url(../images/cover-image-dark.png);
	--title-shadow-color: var(--accent-color);
	--border-color: rgba(50, 49, 45, 0.40); /* Переопределение переменной для обводки */
	--nav-color: rgb(255,0,112); /* Цвет кнопок и бордера */
	--nav-hover-color: rgba(50, 49, 45, 0.40); /* Цвет бордера при hover */
	--main-title-color: #FF0070; /* Цвет заголовка main__title */

	color: var(--text-color);
}

.theme_dark .header__theme-dark-decor {
	display: inline-block;
	color: #FF0070; /* Цвет для темной темы */
}

.theme_dark .title-decoration {
	--text-color: var(--background-color);
}