/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB; 
  --title-color: #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
  --section-title-color: #353430;

  

  --decorative-bracket-color: #353430;
  --button-hover-color: #353430;
  --nav-color: #353430;
	
}

.theme_light .accent-background {
	color: #353430;
  }
  

.theme_light .main__title-decoration {
	color: var(--title-color);
  }

.link { 
	--link-color: #FF8DCB;

}

.theme_light .header__theme-dark-decor {
	display: none;
  }

@media (prefers-color-scheme: light) {
	:root {
		--background-image: url(../images/cover-image-light.png);
		--accent-color: #ff8dcb;
		--heading-color: #353430;
		--text-colot: #353430;
		--button-hover-color: #353430; 
		--decotative-bracket-color: #353430;
		--menu-color: #353430;
	
	}
}