.page {
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
	background-color: var(--background-color);
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100dvh;
	color: var(--accent-color);
}

.container {
	padding-inline: var(--padding);
}

.decorated-zone {
	block-size: 100dvh;
	padding-block: var(--padding);
	position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
	content: '';
	position: absolute;
	inline-size: 25px;
	block-size: 25px;
}

.decorated-zone::before {
	bottom: var(--padding);
	left: 0;
	border-inline-start: 1px solid currentColor;
	border-block-end: 1px solid currentColor;
}

.decorated-zone::after {
	top: var(--padding);
	right: 0;
	border-inline-end: 1px solid currentColor;
	border-block-start: 1px solid currentColor;
}

.header {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	align-items: center;
	justify-items: end;
	min-block-size: 668px;
}

.header__theme-dark-decor {
	display: inline-block;
	position: absolute;
	top: var(--padding);
	right: 0;
	text-transform: uppercase;
	line-height: 25px; 
}

.header__theme-dark-decor::after {
	content: '';
	display: inline-block;
	margin-inline-end: 9px;
	margin-inline-start: 10px;
	inline-size: 9px;
	block-size: 9px;
	border-radius: 50%;
	background-color: currentColor;
	box-shadow: 0 0 4px currentColor;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header__theme-menu-button {
	width: 70px;
	height: 26px;
	display: block;
	background-color: transparent;
	border: none;
	text-transform: lowercase;
	line-height: 18px; 
	cursor: pointer;
}

.header__theme-menu-button:hover {
    outline: 1px solid rgba(var(--accent-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
	outline: none;
}

.header__theme-menu-button:focus-visible {
	outline: none;
	border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
	pointer-events: none;
	border: 1px solid currentColor;
}

.title {
	justify-self: start;
	color: rgb(219, 0, 255);
	font-size: var(--title-font-size);
	font-weight: 700;
	line-height: 82.5%; 
}

.header__title {
	text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decoration {
	--text-color: var(--background-color);
	font-family: inherit;
	font-weight: 700;
	font-size: inherit;
	line-height: inherit;
	color: var(--text-color);
	background-color: var(--accent-color);
}

.main {
	margin-block: var(--main-block-margin);
}

.main__section-article {
	display: grid;
	gap: 20px;
	margin-block-end: var(--article-margin);
}

.main__title {
	font-size: inherit;
	font-weight: 700;
}

.main__inner-article {
	display: grid;
	gap: 20px;
	color: var(--text-color);
}

.main__title-decoration {
	margin-block-end: 10px;
}

.section__subtitle {
	font-weight: inherit;
}

.link {
	text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
	border-block-end: 1px solid currentColor;
}

.link:focus {
	outline: none;
}

.link:focus-visible {
	outline: 1px solid currentColor;
}

.main__image-container {
	display: grid;
	gap: var(--padding);
	margin-block-start: var(--padding);
}

.image {
	display: block;
	inline-size: 100%;
	object-fit: contain;
	object-position: center;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-block-size: 668px;
}

.footer__title {
	text-shadow: 2px 2px 0 var(--accent-color);
}


@media (width >= 768px) {
	:root {
		--padding: 20px;
		--article-margin: 80px;
		--main-block-margin: 60px;
		--title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.title {
		margin-inline-start: -20px;
	}

	.main__section-article:nth-child(odd) {
		grid-template-columns: 1fr 2fr;
	}

	.main__section-article:nth-child(even):not(:last-child) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
	}

	.main__section-article:nth-child(even):not(:last-child) .main__inner-article {
		grid-column: span 3;
	}

	.main__image-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
	}

	.main__image-container__item:nth-child(1) {
		grid-column: 1 / span 2;
		grid-row: 1 / 2;
	}

	.main__image-container__item:nth-child(2) {
		grid-column: 3 / 4;
		grid-row: 1 / span 2;
	}

	.main__image-container__item:nth-child(3) {
		grid-column: 1 / 2;
		grid-row: 2 / span 2;
	}

	.main__image-container__item:nth-child(5) {
		grid-column: 2 / span 2;
		grid-row: 3 / 4;
	}

	.image {
		block-size: 100%;
		object-fit: cover;
	}

	.header__title-decoration {
		width: 364px;
	}
}


@media (width >= 1024px) {
	.header__theme-menu {
		justify-self: center;
		align-self: start;
	}

	.header__theme-menu-list {
		flex-direction: row;
	}

	.main__section-article:nth-child(odd) {
		grid-template-columns: repeat(3, 1fr);
	}

	.main__section-article:nth-child(odd) > .main__inner-article {
		grid-column: 2 / span 2;
	}

	.main__section-article:nth-child(even):not(:last-child) .main__inner-article {
		grid-template-columns: repeat(3, 1fr);
	}

	.header__title-decoration {
		width: 491px;
	}

	.title {
		text-shadow: 4px 4px 0 rgb(255, 0, 112);
	}
}


@media (prefers-color-scheme: light) {
	.page {
		--background-color: rgb(255, 241, 247);
		--accent-color: rgb(255, 141, 203);
		--accent-color-rgb: 53, 52, 48;
		--text-color: rgb(53, 52, 48);
		--background-image: url(../images/cover-image-light.png);
		color: var(--text-color);
	}

	.header__theme-dark-decor {
		display: none;
	}

	.title-decoration {
		--text-color: var(--text-color);
	}

	.title {
		color: rgb(255, 194, 230);
	}
}
